*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow: none;
    width: 100vw;
    height: 100vh;
}
h2{
    font-size: 3rem;
}
h1{
    font-size: 4rem;
    color: #000;
    width: 90%;
    margin: 0 auto;
}
p{
    font-size: 1.6rem;
    width: 60%;
    margin: 4rem auto;
    text-align: justify;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
     scroll-snap-align: start;
    scroll-behavior: smooth; 
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll ;
    height: 100vh;
}
.one{
    background: rgb(36,164,138);
}
.two{
    background: rgb(211,79,79);
    /* display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    padding: 4rem; */

}
.three{
    background: rgb(67,91,175);
}
.four{
    background: lightsalmon;
}
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;

}




@media screen and (max-width: 700) {
    html{
        font-size: 55%;
    }
  }
  