*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h2{
    font-size: 3rem;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    scroll-snap-align: start;
    scroll-behavior: smooth;
  
}
.container{
    
    scroll-snap-type: y mandatory;
    overflow-y: scroll ;
    height: 100vh;
}
.one{
    background: rgb(36,164,138);
}
.two{
    background: rgb(211,79,79);
}
.three{
    background: rgb(67,91,175);
}
.four{
    background: lightsalmon;
}